<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Marc Addeo">

  <%= if assigns[:title] do %>
    <title><%= @title %> | marc.cx</title>
  <% else %>
    <title>marc.cx</title>
  <% end %>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,700,300,800,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <%= if Mix.env == :prod do %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63419605-2', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header">
            <nav>
              <ul class="nav nav-pills pull-right">
              <%= for item <- navigation(@conn) do %>
                <li role="presentation" <%= if item.active do %>class="active"<% end %>>
                  <a <%= if item[:target] do %>target="<%= item.target %>" <% end %>href="<%= item.href %>"><%= item.text %></a>
                </li>
              <% end %>
            </nav>
            <a href="<%= page_path(@conn, :index) %>" class="title text-muted">marc.cx</a>
          </div>
        </div>
      </header>

      <%= @inner %>

      <footer>
        <hr />
        <div class="container">
          <div class="pull-left">
            <a href="http://www.kopimi.com/kopimi">
              <img width="32" src="<%= static_path(@conn, "/images/kopimi.svg") %>" />
            </a>
          </div>
          <div class="pull-right">
            <a class="contact-me" href="mailto:hi@marc.cx">hi@marc.cx</a>
          </div>
        </div>
      </footer>
    </div>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
