$max-width: 730px;
$solarized-dark-bg: #002b36;
$open-sans: 'Open Sans', sans-serif;
$link-color: #fd4040;
$subtext: #c7c7c7;
$selection-color: lighten($link-color, 12);

html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}

a {
    color: $link-color;

    &:hover, &:active, &:focus {
        color: $link-color;
    }

    &:focus {
        outline: none;
    }
}

::selection {
    background: $selection-color;
}
::-moz-selection {
    background: $selection-color;
}

header {
    .title {
        margin: 20px 0 10px 0;
        font-weight: 500;
        line-height: 1.1;
        display: block;
        color: #777;
        font-size: 28px;

        &:hover, &:active, &:focus {
            color: #777;
            text-decoration: none;
            border: none;
        }

        &::first-letter {
            font-size: 36px;
            color: $link-color;
            text-transform: uppercase;
            font-family: $open-sans;
        }
    }

    .nav-pills > li > a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover, &:active, &:focus {
            border-bottom: 2px solid $link-color;
            background-color: white;
        }
    }

    .nav-pills > li.active > a {
        color: $link-color;
        background-color: initial;
        border-bottom: 2px solid $link-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover, &:active {
            color: $link-color;
            background-color: white;
        }
    }
}

.intro {
    h1 {
        font-family: $open-sans;
        text-align: center;
        color: #575757;
        margin: 40px 0 0 0;
    }

    .byline {
        margin: 10px 0 40px 0;

        address {
            text-align: center;
            font-size: 0.9em;

            &, a {
                color: lighten($subtext, 4);
            }
        }
    }
}

.articles {
    article {
        span {
            color: $subtext;
            margin-bottom: 5px;
            display: inline-block;
            font-size: 13px;
        }
    }
}

article {
    h1, h2, h3, h4, h5, h6 {
        font-family: $open-sans;
        margin-bottom: 15px;
        color: #2e2e2e;
    }

    h1 {
        font-weight: bold;
        color: #ec5858;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 25px;
    }

    p {
        color: #3a4145;
        font-family: $open-sans;
        font-size: 1.65rem;
        line-height: 1.75em;
        letter-spacing: 0.01rem;
        text-align: justify;
    }

    #disqus_thread {
        margin-top: 50px;
    }
}


.container {
    max-width: $max-width;
}

.container-fluid {
    padding: 0;

    pre {
        border: none;
        border-radius: 0;
        background: $solarized-dark-bg;
        margin: 15px 0;
    }

    pre code {
        max-width: $max-width;
        margin: 0 auto;
        display: block;
        padding: 0 15px;
        font-family: 'Inconsolata';
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 67px;
    background-color: #fdfdfd;

    hr {
        margin: 0;
        padding: 20px 0 0 0;
    }

    .container {
        padding-bottom: 15px;
    }
    .contact-me {
        display: inline-block;
        margin: 6px 0;
    }
}
